<%# 
#    La Grenouille - A vote engine with a different flavor
#
#    Copyright (C) 2010 - 2011  Emmanuel Gaillot (emmanuel.gaillot@gmail.com)
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
%>

<h1><%= @question.content %></h1>

<% form_for [@question, @answer] do |form| %>
  <p>
    <%= form.label t('views.answers.my_answer') %>
    <%= form.text_field :content %>
    <%= form.submit t('views.shared.submit') %>
  </p>
<% end %>

<% form_for [@question, DelegatedAnswer.new] do |form| %>
  <%= form.label t('views.answers.my_delegated_answer') %>
  <%= form.collection_select :trustee_id, @trustees, :id, :login %>
  <%= form.submit t('views.shared.submit') %>
<% end %>

<hr/>
<%= link_to t('views.answers.answers_list'), question_literal_answers_path(@question), :class => 'navigation_link' %>